<h1> Shelters </h1>

<% @shelters.each do |shelter| %>
  <h2><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
  <%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit", method: "get"%>
<% end %>
<%= button_to "New Shelter", "/shelters/new", method: "get"%>
